/*common styles for element containers*/
.panel-body {
	box-sizing: border-box;
	padding: 0;
	margin: 15px;
}
.posts-item .panel-footer>* {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	min-width: 220px;
	font-size: .9em;
}
.panel-heading h3 {
	margin-top: 10px;
}
/*styles for blog page*/
#blog {
	font-family: Comic Sans MS;
	padding-top: 10px;
}
#preview #container-comments {
	margin-top: 0; 
}
#preview h4 {
	margin-top: 0;
	color: #31708f;
}
#preview #container-comments .panel-footer {
	font-size: .7em;
}
#preview #container-comments .panel-footer>div.text-info {
	font-size: 1em;
}
#preview #container-comments .panel-footer>div.text-info>div {
	font-size: 1em;
}
#preview #container-comments .panel-footer * {
	width: 100%;
	padding: 0;
	text-align: left;
}
#preview #container-comments .panel-footer, 
#preview #container-comments .panel-body,
#preview #container-comments .panel-heading {
	background: transparent;
	border:none;
}
#preview #container-comments .panel-footer {
	padding-top: 0;
	padding-left: 10px;
}
#preview .panel {
	background-color: rgba(240, 240, 240, .2);
}
#preview .panel:hover {
	background: rgba(240, 240, 240, 1);
}
#preview #container-comments .panel-heading a,
#preview #container-comments .panel-heading a:hover {
	color: #333;
}
#preview #container-comments .panel-heading {
	padding-bottom: 0;
	padding-left: 10px;
}
#preview #container-comments .panel-heading p {
	display: inline-block;
	margin-bottom: 0;
	font-size: 1em;
}
#preview #container-comments .panel-heading {
	font-size: 1.2em;
}
/*styles for posts page*/
#preview .panel h3 {
	margin: 0;
	font-size: 1.3em;
}
#preview .panel-heading, #preview .panel-footer {
	background: transparent;
	border:none;
}
#preview .panel {
	font-size: .8em;
	background-color: rgba(240, 240, 240, .3);
}
#preview .panel-footer {
	padding: 5px 7px;
}
#preview .panel:hover {
	background: rgba(240, 240, 240, 1);
}
#preview .panel-footer p {
	margin: 0;
}
#preview .panel-body {
	background: transparent;
	margin: 10px;
}
#preview h4 {
	margin-top: 0;
	margin-bottom: 15px;
}
#preview .posts-item .panel-heading h3 {
	position: relative;
	color: #31708f;
}
#preview .posts-item .panel-footer a.author-link {
	display: none;
}
#preview .glyphicon-option-horizontal {
	position: absolute;
	top: 0;
	right: 0;
}

/*styles for comments*/
._comment-changed {
	height: 0;
	overflow: hidden;
	transition: height .3s;
}
._comment-changed._active {
	height: auto;
	transition: display .3s;
}
#container-comments .glyphicon {
	cursor: pointer;
	color: #9c9c9c;
}
#container-comments .glyphicon:hover {
	text-decoration: underline;
	color: #333;
}
#container-comments {
	margin-top: 20px;
	padding: 0;
}
#container-comments>.comment-item {
	position: relative;
	padding: 0;
	margin-bottom: 25px;
	border-radius: 4px 4px 0 0;
}
#container-comments .panel-body {
	word-wrap: break-word;
}
#container-comments .panel-footer p {
	margin-bottom: 0;
	font-size: 1em;
}
#container-comments .panel-footer div {
	font-size: .9em;
}
#container-comments .panel-footer {
	background: #fff;
}
#container-comments .panel-footer .text-info {
	color: #474747;
}
#container-comments .panel-footer p {
	padding: 0;
}
#container-comment-form {
	margin-bottom: 20px;
}
#container-comments .form-group {
	margin-bottom: 0;
}
#container-comments .icon-outer {
	float: right;
	overflow: hidden;
	margin-left: 10px;
}
#container-comments .form-group .icon-outer .glyphicon-ok {
	padding: 0;
}
#container-comments .form-group .icon-outer {
	float: right;
	width: 4%;
	margin-left: 1%;
	text-align: right; 
}
#container-comments textarea {
	width: 95%;
	float: left;
	resize: none;
}
#container-comments button {
	border: none;
	background: transparent;
}

/*styles for single post page*/
#container-single-post .glyphicon {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 1.2em;
}
#container-single-post .panel-footer>p {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	min-width: 330px;
	font-size: .9em;
}